{% load i18n %}
<div id="ceilometer-stats">
  <form class="form-horizontal"
        id="linechart_general_form">

    <div class="control-group">
      <label for="meter_agg" class="control-label">{% trans "Metric" %}:&nbsp;</label>
      <div class="controls line_chart_time_picker">
        <select data-line-chart-command="select_box_change"
                name="meter_agg" id="meter_agg" class="span2 example">
          <option selected="selected">{% trans "--" %}</option>
          <option value="cpu" >CPU</option>
          <option value="memory">Memory</option>
          <option value="disk">Disk</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label for="agg" class="control-label">{% trans "Aggregates" %}:&nbsp;</label>
      <div class="controls">
        <select data-line-chart-command="select_box_change"
                id="agg" name="agg" class="span2">
          <option selected="selected">{% trans "--" %}</option>
          {% for agg in agg_list %}
            <option value="{{agg.name}}" >{{agg.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="control-group">
      <label for="date_options" class="control-label">{% trans "Period" %}:&nbsp;</label>
      <div class="controls">
        <select data-line-chart-command="select_box_change"
                id="date_options_agg" name="date_options" class="span2">
          <option value="hour">{% trans "Last Hour" %}</option>
          <option value="day">{% trans "Last Day" %}</option>
          <option value="week">{% trans "Last Week" %}</option>
          <option value="month">{% trans "Last Month" %}</option>
          <option value="other">{% trans "Other" %}</option>
        </select>
      </div>
    </div>

    <div class="control-group" id="date_from_agg">
      <label for="date_from" class="control-label">{% trans "From" %}:&nbsp;</label>
      <div class="controls">
        <input data-line-chart-command="date_picker_change"
               type="text" id="date_from_input_agg" name="date_from" class="span2 example"/>
      </div>
    </div>

    <div class="control-group" id="date_to_agg">
      <label for="date_to" class="control-label">{% trans "To" %}:&nbsp;</label>
      <div class="controls">
        <input data-line-chart-command="date_picker_change"
               type="text" id="date_to_input_agg" name="date_to" class="span2 example"/>
      </div>
    </div>
      <button type="submit" class="btn btn-small" onclick="verifica_parametros3();">{% trans 'Apply' %}</button>
  </form>

</div>
<br><br><br><br><div id="chart3" style="width: 400; height: 400"></div>
<script type="text/javascript">

  if (typeof $ !== 'undefined') {
    show_hide_datepickers3();
  } else {
    addHorizonLoadEvent(function() {
      show_hide_datepickers3();
      verifica_parametros3();
    });
  }

  function show_hide_datepickers3() {
    $("#date_options_agg").change(function(evt) {
        // Enhancing behaviour of selectbox, on 'other' value selected, I don't
        // want to refresh, but show hide the date fields
        if ($(this).find("option:selected").val() == "other"){
          evt.stopPropagation();
          $("#date_from_agg .controls input, #date_to .controls input").val('');
          $("#date_from_agg, #date_to_agg").show();
        } else {
          $("#date_from_agg, #date_to_agg").hide();
        }
    });
    if ($("#date_options_agg").find("option:selected").val() == "other"){
      $("#date_from_agg, #date_to_agg").show();
    } else {
      $("#date_from_agg, #date_to_agg").hide();
    }
  }

  function selectMetricAgg(nome, json) {
    if (nome == "memory") {
      return getMemoryAgg(json);
        } else if (nome == "cpu") {
	  return getCPUAgg(json);
	} else if (nome == "disk") {
	  return getPartitionsAgg(json);
	} else {
	  return null;
    }
  }

  function getCPUAgg(json) {
	array_tempo = [];
	array_tempo.push("x");
	var lista_particoes = [];
	array_cpu = [];
	array_cpu.push("CPU usage");
	$.each(json, function(d) {
		array_tempo.push(json[d].timestamp.replace("T", " "));
		array_cpu.push((json[d].data).toFixed(2));
	});
	lista_particoes.push(array_tempo);
	lista_particoes.push(array_cpu);

	return lista_particoes;
  } 

  function getMemoryAgg(json) {
	array_tempo = [];
	array_tempo.push("x");
	var lista_particoes = [];
	array_memoria = [];
	array_memoria.push("Memory usage");
	$.each(json, function(d) {
		array_tempo.push(json[d].timestamp.replace("T", " "));
		array_memoria.push((json[d].data).toFixed(2));
	});
	lista_particoes.push(array_tempo);
	lista_particoes.push(array_memoria);

	return lista_particoes;
  }

  function getPartitionsAgg(json) {
	array_tempo = [];
	array_tempo.push("x");
	var lista_particoes = [];
        array_disk = [];
        array_disk.push("Disk Usage")
	$.each(json, function(d) {
		array_tempo.push(json[d].timestamp.replace("T", " "));
                array_disk.push((json[d].data).toFixed(2));
	});
	lista_particoes.push(array_tempo);
        lista_particoes.push(array_disk);

	return lista_particoes;
  }

  String.prototype.replaceAll = function(de, para) {
	var str = this;
	var pos = str.indexOf(de);
	while (pos > -1) {
		str = str.replace(de, para);
		pos = str.indexOf(de);
	}
	return (str);
  };

  function verifica_parametros3(){
    var tempo = $("#date_options_agg").find("option:selected").val();
    var dh1 = $('#date_from_input_agg').val().replace("-", " ").replace("-", " ").split(" ");
    var dt1 = new Date(dh1[0], dh1[1], dh1[2], 00, 00);
    var dh2 = $('#date_to_input_agg').val().replace("-", " ").replace("-", " ").split(" ");
    var dt2 = new Date(dh2[0], dh2[1], dh2[2], 00, 00);
    var complemento = "";
    var now = new Date();
    now.setTime(now.getTime() + now.getTimezoneOffset());

    if(tempo !== 'undefined'){
       if (tempo == "hour") {
                var ontem = new Date(now - (1000 * 60 * 60 * 1));
                ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
                complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
                complemento += "&timestamp_end=" + formattedDate(now, 0);
        } else if (tempo == "day") {
                var ontem = new Date(now - (1000 * 60 * 60 * 24 * 1));
                ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
                complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
                complemento += "&timestamp_end=" + formattedDate(now, 0);
        } else if (tempo == "week") {
                var ontem = new Date(now - (1000 * 60 * 60 * 24 * 7));
                ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
                complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
                complemento += "&timestamp_end=" + formattedDate(now, 0);
        } else if (tempo == "month") {
                var ontem = new Date(now - (1000 * 60 * 60 * 24 * 30));
                ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
                complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
                complemento += "&timestamp_end=" + formattedDate(now, 0);
        } else{ //other

                complemento += "?timestamp_begin=" + formattedDate(dt1, 1);
                complemento += "&timestamp_end=" + formattedDate(dt2, 1);

        }

    }

      var url_requisicao_host = "http://150.165.15.104:10090";
      var metric = $("#meter_agg").find("option:selected").val();
      console.log(metric);
      if(metric == "cpu"){
        url_requisicao_host += "/hosts_aggregation_cpu";	
      }
      else if( metric == "disk"){	
	url_requisicao_host += "/hosts_aggregation_disk";
      }
      else if( metric == "memory") {
	url_requisicao_host += "/hosts_aggregation_memory";
      }
      else { 
        console.log("erro");
      }

      var host = $("#agg").find("option:selected").val();
      if(host != "--"){
         url_requisicao_host += complemento;
         console.log(url_requisicao_host);
         $('<div id="load_rec" style="display:none"> <br><br><center><img src="../../../../../static/dashboard/img/spinner.gif"></img> <br> <h4>The request is being made... This may take a few minutes. Please wait.</h4></center></div>').appendTo("#chart3");
    $("#load_rec").show();
			$.ajax({
				url : url_requisicao_host,
				dataType : 'json'
			}).fail(function( xhr, textStatus, errorThrown) {
                               			$('#chart3').empty().queue(function(exec) {
                                		var ht = $('#agg').find("option:selected").val();
						$('#chart3').html('<p><h3>' + 'Could not generate the graph for the aggregate ' + ht + '</h3><p>');
						exec();
					});
                                
			}).done(function(data) {
				var dados = data;
                                if (dados === null || dados.length === 0 ) {
                                        var ht = $('#agg').find("option:selected").val();
					$('#chart3').empty().queue(function(exec) {
						$('#chart3').html('<p><h3>' + 'Could not generate the graph for the aggregate ' + ht + '</h3><p>');
						exec();
					});
				} else {
	                                var index = 0;
                        	        $.each(dados,function(k,v){ if(dados[k]["Aggregate"]==host){ console.log("achou");return false; }else{index+=1;}  });
					var dt = dados[index].data;
					if (dt == null) {
                                                var ht = $('#agg').find("option:selected").val();
						$('#chart3').html('<p><h3>' + 'Could not generate the graph for the aggregate ' + ht + '</h3><p>');
					} else {
						var valores = selectMetricAgg(metric, dt);
						console.log(valores);
						var json = { bindto: '#chart3',
								data : {
									x : 'x',
									x_format : '%Y-%m-%d %H:%M:%S',
									columns : valores

								},
								subchart : {
									show : true
								},
								axis : {
									x : {
										label : 'Time',
										type : 'timeseries',
										tick : {
											fit: true,
											count: 5,
											format: '%e %b %H:%M',
											}
									},
									y : {
										label : '(%) '
									}
								},
								tooltip : {
									format : {
										title : function(d) {
											return formattedDate(new Date(d.getTime())).replace("T", " - ");
										},
										value : d3.format(',')
									}
								}
							};
              
							$('#chart').empty().queue(function(exec) {
								var chart = c3.generate(json);
								exec();
							});
					}
				}
			});



      }else{
        console.log("nenhum host selecionado");
      }
  }

  function formattedDate(date, verificador) {
	var d = new Date(date || Date.now()), month = '' + (d.getMonth() + 1), day = '' + d.getDate(), year = '' + d.getFullYear(), hour = '' + (d.getHours()), minuto = '' + (d.getMinutes());
	if (verificador == 1) {
		month = '' + d.getMonth();
	}
	if (month.length < 2)
		month = '0' + month;
	if (day.length < 2)
		day = '0' + day;
	if (hour.length < 2)
		hour = '0' + hour;
	if (minuto.length < 2)
		minuto = '0' + minuto;

	return [year, month, day].join('-') + "T" + hour + ":" + minuto + ":00";

  }
</script>
