{% load i18n %}

  <div id="ceilometer-stats">
    <form class="form-horizontal"
          id="linechart_general_form">

      <div class="control-group">
        <label for="project" class="control-label">{% trans "Projects" %}:&nbsp;</label>
        <div class="controls line_chart_time_picker">
          <select data-line-chart-command="select_box_change"
                  name="project" id="project" class="span2 example" onchange="show_instances();">
            <option value="--" selected="selected">{% trans "--" %}</option>
            {% for key in projects %}
              <option value="{{key}}">{{ key }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div id="instances_select" class="control-group" style="display:none;">
        <label for="instances" class="control-label">{% trans "Instances" %}:&nbsp;</label>
        <div class="controls">
          <select data-line-chart-command="select_box_change"
                  id="instances" name="instances" class="span2">
            <option value="" selected="selected">{% trans "--" %}</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label for="date_options" class="control-label">{% trans "Period" %}:&nbsp;</label>
        <div class="controls">
          <select data-line-chart-command="select_box_change"
                  id="date_options_inst" name="date_options" class="span2">
            <option value="hour">{% trans "Last Hour" %}</option>
            <option value="day">{% trans "Last Day" %}</option>
            <option value="week">{% trans "Last Week" %}</option>
            <option value="month">{% trans "Last Month" %}</option>
            <option value="other">{% trans "Other" %}</option>
         </select>
        </div>
      </div>

      <div class="control-group" id="date_from_inst">
        <label for="date_from" class="control-label">{% trans "From" %}:&nbsp;</label>
        <div class="controls">
          <input data-line-chart-command="date_picker_change"
                 type="text" id="date_from_input_inst" name="date_from" class="span2 example"/>
        </div>
      </div>

      <div class="control-group" id="date_to_inst">
        <label for="date_to" class="control-label">{% trans "To" %}:&nbsp;</label>
        <div class="controls">
          <input data-line-chart-command="date_picker_change"
                 type="text" id="date_to_input_inst" name="date_to" class="span2 example"/>
        </div>
      </div>
        <button type="submit" class="btn btn-small" onclick="verifica_parametros();">{% trans 'Apply' %}</button>
    </form>
  </div>
<br><br><br><br><div id="chart" style="width: 400; height: 400"></div>
<script type="text/javascript">

  if (typeof $ !== 'undefined') {
    show_hide_datepickers();
    show_instances();

  } else {
    addHorizonLoadEvent(function() {
      show_hide_datepickers();
      show_instances();
      verifica_parametros();
    });
  }

  function show_hide_datepickers() {
    $("#date_options_inst").change(function(evt) {
        // Enhancing behaviour of selectbox, on 'other' value selected, I don't
        // want to refresh, but show hide the date fields
        if ($(this).find("option:selected").val() == "other"){
          evt.stopPropagation();
          $("#date_from_inst .controls input, #date_to_inst .controls input").val('');
          $("#date_from_inst, #date_to_inst").show();
        } else {
          $("#date_from_inst, #date_to_inst").hide();
        } 
    });
    if ($("#date_options_inst").find("option:selected").val() == "other"){
      $("#date_from_inst, #date_to_inst").show();
    } else {
      $("#date_from_inst, #date_to_inst").hide();
    }
  }

  function verifica_parametros(){
    var url_requisicao_vm = "/admin/graphs/projects";
    var projeto = $("#project").find("option:selected").val();
    var instancia = $("#instances").find("option:selected").val();
    var tempo = $("#date_options_inst").find("option:selected").val();
    var dh1 = $('#date_from_input_inst').val().replace("-", " ").replace("-", " ").split(" ");
    var dt1 = new Date(dh1[0], dh1[1], dh1[2], 00, 00);
    var dh2 = $('#date_to_input_inst').val().replace("-", " ").replace("-", " ").split(" ");
    var dt2 = new Date(dh2[0], dh2[1], dh2[2], 00, 00);

    var complemento = "";
    var now = new Date();
    now.setTime(now.getTime() + now.getTimezoneOffset());

    if(tempo !== 'undefined'){
       if (tempo == "hour") {
		var ontem = new Date(now - (1000 * 60 * 60 * 1));
		ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
		complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
		complemento += "&timestamp_end=" + formattedDate(now, 0);
	} else if (tempo == "day") {
		var ontem = new Date(now - (1000 * 60 * 60 * 24 * 1));
		ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
		complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
		complemento += "&timestamp_end=" + formattedDate(now, 0);
	} else if (tempo == "week") {
		var ontem = new Date(now - (1000 * 60 * 60 * 24 * 7));
		ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
		complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
		complemento += "&timestamp_end=" + formattedDate(now, 0);
	} else if (tempo == "month") {
		var ontem = new Date(now - (1000 * 60 * 60 * 24 * 30));
		ontem.setTime(ontem.getTime() + ontem.getTimezoneOffset());
		complemento += "?timestamp_begin=" + formattedDate(ontem, 0);
		complemento += "&timestamp_end=" + formattedDate(now, 0);
	} else { 

                complemento += "?timestamp_begin=" + formattedDate(dt1, 1);
                complemento += "&timestamp_end=" + formattedDate(dt2, 1);
        }
    var resource_vm = $("input[name='defaultVM']:checked").val();
    url_requisicao_vm += (complemento + "&resource_id=" + instancia);
    $('#chart').empty();
    $('<div id="load_rec" style="display:none"> <br><br><center><img src="../../../../../static/dashboard/img/spinner.gif"></img> <br> <h4>The request is being made... This may take a few minutes. Please wait.</h4></center></div>').appendTo("#chart");
    $("#load_rec").show();
		$.ajax({
			url : url_requisicao_vm,
			dataType : 'json'
		}).fail(function(data) {
			show_plot = false;
                        var inst = $("#instances").find("option:selected").text();
			$('#chart').empty().queue(function(exec) {
				$('#chart').html('<p><h3>' + 'Could not generate the graph for the instance ' + inst + '</h3><p>');
				exec();
			});
		}).done(function(data) {
                        dados = data;
			if (data.length === 0) {
				if (resource_vm == undefined) {
                                        var inst = $("#instances").find("option:selected").text();
					$('#chart').empty().queue(function(exec) {
						$('#chart').html('<p><h3>' + 'Could not generate the graph for the instance ' + inst + '</h3><p>');
						exec();
					});
				} else {
                                        var inst = $("#instances").find("option:selected").text();
					$('#chart').empty().queue(function(exec) {
						$('#chart').html('<p><h3>' + 'Could not generate the graph for the instance ' + inst + '</h3><p>');
						exec();
					});
				}
			} else {
                        console.log("passou");
			var dados = data;
                        console.log(dados);
			var t1 = [];
			var cpu = [];
			t1.push("x");
			cpu.push("CPU usage");
			$.each(dados, function(d) {
				t1.push(dados[d].timestamp.replace("T", " "));
				cpu.push((dados[d].cpu_util_percent).toFixed(2));
			});

			var json = {
				data : {
					x : 'x',
					x_format : '%Y-%m-%d %H:%M:%S',
					columns : [t1, cpu]
				},
				subchart : {
					show : true
				},
				axis : {
					x : {
						label : 'Time',
						type : 'timeseries',
                                                tick: {
                                                      fit: true,
                                                      count: 5,
                                                      format: '%e %b %H:%M',					
						}
					},
					y : {
						label : '(%) '
					}
				},
				tooltip : {
					format : {
						title : function(d) {
							return formattedDate(new Date(d.getTime())).replace("T", " - ");
						},
                                                 value : d3.format(',')
					}
				}
			};

			$('#chart').empty().queue(function(exec) {
				var chart = c3.generate(json);
                                console.log(chart);
				exec();
			});
		    }
		});
	
     }
  }

  function formattedDate(date, verificador) {
	var d = new Date(date || Date.now()), month = '' + (d.getMonth() + 1), day = '' + d.getDate(), year = '' + d.getFullYear(), hour = '' + (d.getHours()), minuto = '' + (d.getMinutes());
	if (verificador == 1) {
		month = '' + d.getMonth();
	}
	if (month.length < 2)
		month = '0' + month;
	if (day.length < 2)
		day = '0' + day;
	if (hour.length < 2)
		hour = '0' + hour;
	if (minuto.length < 2)
		minuto = '0' + minuto;

	return [year, month, day].join('-') + "T" + hour + ":" + minuto + ":00";

  }

  function show_instances() {
    var projects = $.parseJSON("{{ projects_json | escapejs | safe }}");
    $("#project").change(function(evt) {
      var selectedOption = $(this).find("option:selected").val();
      if (selectedOption == "--") {
        $("#instances_select").hide();
      } else {
        var select = document.getElementById("instances");
        select.length = 0;
        var el = document.createElement("option");
        el.textContent = "--";
        el.value = null;
        el.selected = "selected";
        select.appendChild(el);

        var instancesFromProject = projects[selectedOption];
        var index;
        for (index = 0; index < instancesFromProject.length; ++index) { 
            console.log(instancesFromProject[index].instance_name);
            var opt = instancesFromProject[index].instance_name;
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = instancesFromProject[index].resource_id;
            select.appendChild(el);
        }
        $("#instances_select").show();
      }
    });
   
  }

</script>

