{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}send_user_message_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:messages:message_user' user.id %}{% endblock %}

{% block modal_id %}send_user_message_modal{% endblock %}
{% block modal-header %}{% trans "Send Message to User" %}{% endblock %}

{% block modal-body %}

<div class="left">
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>

<div id="div1" class="right">
  <h3>{% trans "Text" %}:</h3>
  <p>{% trans "From here you can send a message to an user" %}</p>
</div>

<script type="text/javascript">

  if (typeof $ !== 'undefined') {
    update_fields();
  } else {
    addHorizonLoadEvent(function() {
      update_fields();
    });
  }

  function update_fields() {
    var template  = $.parseJSON("{{template | escapejs | safe }}")

    $('#id_instances').hide()
    $("label[for='id_instances']").hide()

    $("#id_template").change(function (event) {
      var current_template_id = $('#id_template').val()
      if(current_template_id != 'none') {
        $('#id_subject').val(template[current_template_id]['subject'])
        $('#id_message').val(template[current_template_id]['message'])
        $('#id_instances').show()
        $("label[for='id_instances']").show()
      }
      else {
        $('#id_subject').val('')
        $('#id_message').val('')
        $('#id_instances').hide()
        $("label[for='id_instances']").hide()
      }
    });
  }

</script>

{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Send Message" %}" />
  <a href="{% url 'horizon:admin:messages:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
