{% load i18n %}
{% load url from future %}

<div class="quota-dynamic">
  <h3 class="quota-heading">{% trans "Projects" %}</h3>
  <div id="ceilometer-stats">
    <form class="form-horizontal"
          id="linechart_general_form">

      <div class="control-group">
        <label for="project" class="control-label">{% trans "Projects" %}:&nbsp;</label>
        <div class="controls line_chart_time_picker">
          <select data-line-chart-command="select_box_change"
                  name="project" id="project" class="span2 example" onchange="show_instances();">
            <option value="--" selected="selected">{% trans "--" %}</option>
            {% for key in projects %}
              <option value="{{key}}">{{ key }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div id="instances_select" class="control-group" style="display:none;">
        <label for="instances" class="control-label">{% trans "Instances" %}:&nbsp;</label>
        <div class="controls">
          <select data-line-chart-command="select_box_change"
                  id="instances" name="instances" class="span2">
            <option value="" selected="selected">{% trans "--" %}</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label for="date_options" class="control-label">{% trans "Period" %}:&nbsp;</label>
        <div class="controls">
          <select data-line-chart-command="select_box_change"
                  id="date_options" name="date_options" class="span2">
            <option value="hour">{% trans "Last Hour" %}</option>
            <option value="day">{% trans "Last Day" %}</option>
            <option value="week">{% trans "Last Week" %}</option>
            <option value="month">{% trans "Last Month" %}</option>
            <option value="other">{% trans "Other" %}</option>
         </select>
        </div>
      </div>

      <div class="control-group" id="date_from">
        <label for="date_from" class="control-label">{% trans "From" %}:&nbsp;</label>
        <div class="controls">
          <input data-line-chart-command="date_picker_change"
                 type="text" id="date_from" name="date_from" class="span2 example"/>
        </div>
      </div>

      <div class="control-group" id="date_to">
        <label for="date_to" class="control-label">{% trans "To" %}:&nbsp;</label>
        <div class="controls">
          <input data-line-chart-command="date_picker_change"
                 type="text" name="date_to" class="span2 example"/>
        </div>
      </div>
        <button type="submit" class="btn btn-small">{% trans 'Apply' %}</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  if (typeof $ !== 'undefined') {
    show_hide_datepickers();
    show_instances();
  } else {
    addHorizonLoadEvent(function() {
      show_hide_datepickers();
      show_instances();
    });
  }

  function show_hide_datepickers() {
    $("#date_options").change(function(evt) {
        // Enhancing behaviour of selectbox, on 'other' value selected, I don't
        // want to refresh, but show hide the date fields
        if ($(this).find("option:selected").val() == "other"){
          evt.stopPropagation();
          $("#date_from .controls input, #date_to .controls input").val('');
          $("#date_from, #date_to").show();
        } else {
          $("#date_from, #date_to").hide();
        }
    });
    if ($("#date_options").find("option:selected").val() == "other"){
      $("#date_from, #date_to").show();
    } else {
      $("#date_from, #date_to").hide();
    }
  }

  function show_instances() {
    var projects = $.parseJSON("{{ projects_json | escapejs | safe }}");
    $("#project").change(function(evt) {
      var selectedOption = $(this).find("option:selected").val();
      if (selectedOption == "--") {
        $("#instances_select").hide();
      } else {
        var select = document.getElementById("instances");
        select.length = 0;
        var el = document.createElement("option");
        el.textContent = "--";
        el.value = null;
        el.selected = "selected";
        select.appendChild(el);

        var instancesFromProject = projects[selectedOption];
        var index;
        for (index = 0; index < instancesFromProject.length; ++index) { 
            console.log(instancesFromProject[index].instance_name);
            var opt = instancesFromProject[index].instance_name;
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = opt;
            select.appendChild(el);
        }
        $("#instances_select").show();
      }
    });
  }
</script>

